<div id='flex_container' class='flex_container'>
    <aside class="sidebar">
        <h2 class="sidebar__header">Add your movie suggestion here ...</h2>
        <form class="sidebar__form" action="/addMovie" method="POST">
            <input name="title" type="text" placeholder="Add movie title">
            <input name="year" type="text" placeholder="Add movie year">
            <input name="description" type="text" placeholder="Add movie description">
            <input type="submit" value="Submit" />
        </form>
    </aside>

    <div id='movies_section' class='movies_section'>
        {{#each movies}}
        <section class="movie" id="{{id}}">
            <a href="/getMovieInfo/{{id}}">
                <h2 class="movie__title">{{title}}</h2>
            </a>
            <p class="movie__year">{{year}}</p>
            <p class="movie__rating">{{rating}}</p>
            <p class="movie__count">{{count}}</p>
            <a href="/addVote?user=&movie={{id}}">Upvote</a>
        </section>
        {{/each}}
    </div>
</div>
<script src="/index.js"></script>