{{> navbar this}}
<section class="singlemovie">
    <a href ='/'>Back to All Movies</a>
    <h2 class="singlemovie__title">{{singleMovie.title}}</h2>
    <p class="singlemovie__year">{{singleMovie.year}}</p>
    <p class="singlemovie__description">{{singleMovie.description}}</p>
    <p class="singlemovie__rating">★ {{singleMovie.rating}}</p>
    <p class="movie__count">This movie was suggested by {{singleMovie.username}}</p>
    {{#if singleMovie.case}}
        <div class='movie__voteBtn' type='button' id='vote_{{singleMovie.id}}'>{{singleMovie.count}}  <i class="fas green fa-thumbs-up"></i></div>
    {{else}}
        <div class='movie__voteBtn' type='button' id='vote_{{singleMovie.id}}'>{{singleMovie.count}}  <i class="far fa-thumbs-up"></i></div>
    {{/if}}
</section>
<script src="/index.js"></script>
